body {
    padding-top: 70px;
}

.modal-dialog-center {
    padding-top: 10%;
}

.logo {
    display: block;
    height: auto;
    width: auto;
    max-width: 240px;
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
.info{
    font-size: 125%;
}
.login{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
* {
    font-family: 'Roboto', sans-serif;
}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.subset {
    border: 1px black solid;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.subset h5 {
    position: absolute;
    top: -18px;
    background-color: #fff;
}

input[type="checkbox"], input[type="radio"] {
    margin-top: 0px !important;
}

form #new-project-button {
    margin-top: 20px;
    width: 100px;
}

footer {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

footer hr {
    width: 60%;
    border-color: #808080;
}

.signature input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.signature {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.laranja {
    background-color: #f19100 !important;
    color: #ffff !important;
}
